---
layout: markdown_page
title: "Product Vision - Package"
---

- TOC
{:toc}

## Package management

The Package stage allows you to publish, consume and discover packages, all in one place. We believe that source code and dependencies should live in one secure environment, protected by your GitLab credentials. The efficiencies gained by centralization allow you to focus on productivity. By integrating with GitLab's [CI/CD product](/direction/cicd), we can ensure efficient and reliable pipelines. 

GitLab Package is part of the [CI/CD](/direction/cicd) department, and includes elements of
[mobile development and delivery](/direction/mobile) use cases; if you're
interested in those topics, be sure to check out those links.

Take a look at this video for a walkthrough of the stage, north stars, and categories that make up Package:

<figure class="video_container">
<iframe src="https://www.youtube.com/embed/sexHPOVbAoA" frameborder="0" allowfullscreen="true" width="320" height="180"> </iframe>
</figure>

Feel free to reach out to PM Tim Rizzi ([E-Mail](mailto:trizzi@gitlab.com)) if you'd like to provide feedback or ask questions about what's coming.

## North Stars

There are a few important north stars we are keeping sight of to guide us forward in this space. With each of these, we're focusing on complete (what we call minimally lovable) features.

We track epics for many of the major deliverables associated with these north stars,
you can view them on a calendar at [this link](https://gitlab.com/groups/gitlab-org/-/roadmap?label_name%5B%5D=devops%3A%3Apackage&scope=all&sort=end_date_asc&state=opened&layout=QUARTERS).

### Universal and Accessible

Our goal is to provide a single interface for managing dependencies, registries, and package repositories. In order to achieve that goal, we must allow users to integrate with any development environment. This means we must support a wide variety of package managers and languages. We currently support Maven, NPM and Docker. We will be adding support for C++ (Conan), .net (NuGet), Linux (Debian, RPM), and Helm Charts (Kubernetes). 

Package Managers such as [JFrog](https://jfrog.com/artifactory/) and [Sonatype](https://www.sonatype.com/nexus-repository-sonatype) make it easy to managed shared binaries. They provide improved performance by allowing users to store and cache their binaries and avoid repetitive downloading with each build. The current GitLab offering is lacking in these areas. 

However as single-point solutions, they introduce extra cost and complexity. By providing a single location for the entire DevOps Lifecycle, we allow users to avoid unnecessary context switching and save money on additional licensing and maintenance fees. 

### Security and Compliance

In addition to supporting multiple package management clients, we must ensure that we provide a simple, unified method of authentication. [GitHub does this](https://help.github.com/en/articles/configuring-maven-for-use-with-github-package-registry#authenticating-to-github-package-registry) by allowing users to authenticate with their personal access token. However, we must also provide a means of publishing, deleting and updating from CI/CD builds. Our current thinking is to allow users to authenticate using their personal access token or their CI_JOB_TOKEN. 

### Dependable and Performant

Our initial focus has been on making dependencies accessible to ensure that sharing packages is easy. Next, we will focus on improving performance, reducing external dependencies, and giving administrators more control over their supply chains. We are actively working on improving our storage optimization features. After that, we will allow users to set limits and policies for storage usage and automatically act on those policies to reduce the cost of storage. 

After handling storage optimization, we will begin to roll out the GitLab Dependency Proxy. This will minimize the number of external downloads, improve build times, and reduce the risk of 3rd party outages. First, we will focus on the Container Registry, then roll out support for our other package manager integrations, such as Maven and NPM.

Having established the dependency proxy, we will begin to offer support for whitelisting and blacklisting of external dependencies. Along with GitLab's [dependency scanning](https://gitlab.com/groups/gitlab-org/-/epics/529) product, this will allow SecOps and Compliance teams to secure and control their supply chains. 

<%= partial("direction/categories", :locals => { :stageKey => "package" }) %>

<%= partial("direction/contribute", :locals => { :stageKey => "package" }) %>

## Prioritization Process

It's important to call out that the below plan can change any moment and should not be taken as a hard commitment, though we do try to keep things generally stable. In general, we follow the same [prioritization guidelines](/handbook/product/#prioritization) as the product team at large. Issues will tend to flow from having no milestone, to being added to the backlog, to being added to this page and/or a specific milestone for delivery.

## Upcoming Releases

<%= direction %>

<%= partial("direction/other", :locals => { :stage => "package" }) %>