<% career_matrix = data.engineering_ic_career_matrix %>
<% career_categories = career_matrix[0].keys[1..-1] %>

<div class="table-responsive" style="max-height:800px">
  <div class="table-responsive">
    <table class="table-bordered">
      <thead>
      <tr>
        <td class="top-sticky" style="left: 0; z-index:1000"></td>
        <% career_matrix.each do |level| %>
          <th class="top-sticky"><%= level.name %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
        <% career_categories.each do |category| %>
          <% career_matrix[0][category].keys.each do |behaviour| %>
            <tr>
              <th class="left-sticky"><%= "#{category}: #{behaviour}" %></th>
              <% career_matrix.each do |level| %>
                <td>
                  <ul>
                    <% level[category][behaviour]&.each do |item| %>
                      <li><%= kramdown(item) %></li>
                    <% end %>
                  </ul>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>